venv/
.venv/
node_modules/
backend/node_modules/
__pycache__/
*.pyc
backend/models/
*.gguf
desktop.ini
*.ini

MK2_gpt_server.py
MK3_gpt_server.py
MK4_gpt_server.py
MK5_gpt_server.py

MK1_popup.js

*.bat
*.ps1
*.log